.score{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    margin: 0 auto 20px auto;
    border: 2px solid #262626;
    border-radius: 10%;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
}
