.position{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    margin: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
    transition: transform 0.2s ease-out;
}

.position:hover{
    transform: scale(1.1);
}

.position > p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    vertical-align: center;
}

.position > p:nth-child(2){
    border-left: 1px solid #369696;
    border-right: 1px solid #369696;
}

@media (max-width: 400px){
    .position > p {
        width: 50%;
    }

    .position > p:nth-child(2){
        border-right: none;
    }
}