.Modal{
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    min-width: 350px;
    left: 30%;
    top: 30%;
    height: 250px;
    padding: 20px;
    border: 1px solid #565656;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #565656;
    background-color: antiquewhite;
    z-index: 100;
}

.Modal > p {
    width: 100%;
    text-align: center;
}

.Modal > button {
    height: 40px;
    width: 120px;
    margin: 5px;
}

@media (max-width: 400px){
    .Modal{
        width: 80%;
        left: 10%;
        height: 250px;
        padding: 20px;
    }
}