.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #363636;
    border-bottom: 3px groove rgb(0, 255, 191);
    color: antiquewhite;    
    box-sizing: border-box;
}

.Navbar *{
    list-style: none;
    text-decoration: none;
}

.Navbar ul{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.Navbar li{

    width: 100px;
}

.Navbar li:hover{
    background-color: #262626;
    border: 1px solid whitesmoke;
}